<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>栏目列表</title>
    <link rel="stylesheet" href="__ADMIN__/vendor/layui/css/layui.css">
    <link rel="stylesheet" href="__ADMIN__/custom/css/style.css">
</head>
<body style="padding:10px 10px;">
<div class="layui-container">
    <form action="{:url('erji/sort')}" method="post">
        <div>
            <a href="{:url('erji/add')}" class="layui-btn layui-btn-normal">添加栏目</a>
            <button type="submit" class="layui-btn layui-btn-danger">更新排序</button>
        </div>
    <table class="layui-table" lay-size="sm">
        <colgroup>
            <col width="80">
            <col>
            <col width="100">
            <col width="100">
            <col width="200">
        </colgroup>
        <thead>
        <tr pid="0">
            <th>ID</th>
            <th>栏目名称</th>
            <th>类型</th>
            <th>排序</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="cate" id="vo"}
        <tr pid="{$vo.pid}"id="{$vo.id}">
            <td>{$vo.id}</td>
            <td>{$vo.name}</td>
            <td>{$vo.type}</td>
            <td><input type="text" name="{$vo.id}" value="{$vo.sort}" style="width:50px;"></td>
            <td><a href="{:url('erji/edit',['id'=>$vo['id']])}" class="layui-btn layui-btn-warm layui-btn-mini">编辑</a><a href="{:url('erji/del',['id'=>$vo.id])}" class="layui-btn layui-btn-danger layui-btn-mini del">删除</a></td>
        </tr>
        {/volist}
        </tbody>
    </table>

    </form>
</div>
<script src="__ADMIN__/vendor/js/jquery.js"></script>
<script src="__ADMIN__/vendor/layui/layui.js"></script>
<script src="__ADMIN__/custom/js/admin.js"></script>
<script>
    layui.use('layer', function(){
        var layer = layui.layer;
        $('.del').on('click',function () {
            var url=$(this).attr('href');
            layer.confirm('确定要删除该栏目吗?', {icon: 3, title:'温馨提示'}, function(index){
                //do something
                location.href=url;
                layer.close(index);
            });
            return false;
        })
    });
    $(function(){
       $(window.parent.document).find('#righttitle').text($('title').text());

    });
</script>
</body>
</html>