<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>轮播图列表</title>
    <link rel="stylesheet" href="__ADMIN__/vendor/layui/css/layui.css">
    <link rel="stylesheet" href="__ADMIN__/custom/css/style.css">
</head>
<body style="padding:10px 10px;">
<form action="" class="layui-form">
<div class="layui-container">
    <table class="layui-table" lay-size="sm">
        <colgroup>
            <col width="200">
            <col>
            <col width="300">
            <col width="100">
            <col width="100">
            <col width="150">
        </colgroup>
        <thead>
        <tr>
            <th>ID</th>
            <th>图片</th>
            <th>标题</th>
            <th>是否显示</th>
            <th>排序</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="pics" id="vo"}
        <tr>
            <td>{$vo.id}</td>
            <td><img src="/{$vo.pic}" height="50" alt=""></td>
            <td>{$vo.title}</td>
            <td><input type="checkbox" name="isshow" lay-skin="switch" value="{$vo.id}" lay-filter="isshow" lay-text="显示|隐藏" {$vo.isshow?"checked":""}></td>
            <td><input type="text" name="sort" value="{$vo.sort}" required lay-verify="required" placeholder="请输入排序" autocomplete="off" class="layui-input sort" data="{$vo.id}"></td>
            <td><a href="{:url('banner/edit',['id'=>$vo['id']])}" class="layui-btn layui-btn-warm layui-btn-mini">编辑</a><a href="{:url('banner/del',['id'=>$vo.id,'pic'=>urlencode($vo.pic)])}" class="layui-btn layui-btn-danger layui-btn-mini del">删除</a></td>
        </tr>
        {/volist}
        </tbody>
    </table>
</form>
</div>
<script src="__ADMIN__/vendor/js/jquery.js"></script>
<script src="__ADMIN__/vendor/layui/layui.js"></script>
<script src="__ADMIN__/custom/js/admin.js"></script>
<script>
    layui.use(['layer','form'], function(){
        var layer = layui.layer;
        var form = layui.form;
        //隐藏与显示
        form.on('switch(isshow)', function(data){
            var value;
            value=data.elem.checked?1:0;
            $.ajax({
                type:"post",
                url:"{:url('admin/banner/setajax')}",
                data:{'act':'show','v':value,'id':data.value},
                success:function (msg) {
                    if(msg==1){
                        layer.msg("操作成功",{time:1000},function () {
                            location.reload();
                        })
                    }
                }
            })
        });
        //排序
        $('.sort').change(function () {
            var id=$(this).attr('data');
            var value=$(this).val();
            $.ajax({
                type:"post",
                url:"{:url('admin/banner/setajax')}",
                data:{'act':'sort','v':value,'id':id},
                success:function (msg) {
                    if(msg==1){
                        layer.msg("操作成功",{time:1000},function () {
                            location.reload();
                        })
                    }
                }
            })
        })
        $('.del').on('click',function () {
            var url=$(this).attr('href');
            layer.confirm('确定要删除该管理员吗?', {icon: 3, title:'温馨提示'}, function(index){
                //do something
                location.href=url;
                layer.close(index);
            });
            return false;
        })
    });
    $(function(){
       $(window.parent.document).find('#righttitle').text($('title').text());
    });
</script>
</body>
</html>